.button {
  padding: 7.5px 18;
  border: 0;
  border-radius: 100px;
  background-color: orange;
  color: rgb(64, 63, 63);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.button:hover {
  background-color: #fff;
  box-shadow: 0 0 20px orange;
  transform: scale(1.1);
}

.button:active {
  background-color: rgb(215, 141, 2);
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
